body{
	font-family: "Raleway", sans-serif;
	background: "white";
	
	margin: 0;
	border: 0;
	padding: 0;
	
}


h1{
	font-family: "Abel";
	font-size: 60px;
	/*line-height: 1;*/
	font-weight: 100;
	margin: 0;

}

h2{
	font-family: "Source Code Pro";
	font-size: 20px;
	line-height: 0.15;
	font-weight: 200;
	margin:0;
}

#header{
	background: #100806;
	margin-top: 0px;
	padding: 0;
	width: 100%;
/*	height: 100px;*/
	color: white;
	/*position: fixed;*/
	margin-bottom: 5px; 
	overflow: hidden;
	
}

#header h2{
	font-size: 15px;
	opacity: 0.75;
}


div.logo{
	width:40%;
	margin: 0;
	padding: 0;
	float: left;
	text-align: right;
}

div.title{
	width: 25%;
	float: left;
	text-align: center;
}

.banner{
/*	background: url('../img/city.jpg');
    background-size: cover;
    background-repeat:no-repeat;*/
    background-color: #100806;
    padding:25px;
	/*background-blend-mode: darken;*/
	width: 100%;
	/*height: 350px;*/
	position: relative;
	align-items: center;
	justify-content: center;
	display: flex;
	overflow: hidden;
}

.banner img{
	position: absolute;
	left: 0;
	top: -150;
	width: 100%;
	height: auto:
	z-index: -1;
	opacity: 0.1;
}

.wrapper{
	width: 50%;
	height: 75%;
	color: white;
	font-family: "Source Code Pro";
	font-size: 12px;
	line-height: 1;

}

.wrapper h2{
		position: relative;
		display: block;
		width: 100%;
		color: white;
		line-height: 2;
		text-align: left;
	}

.wrapper .social-links {
	margin-top: 50px;
	position: relative;
	width: 100%;
	list-style-type: none;
}

.wrapper .social-links li{
	display: inline-block;
	width: 25%;
	text-align: center;
	float: left;
}

.wrapper .social-links li a{
	font-size: 24px;
	color: whitesmoke;
}

#menu{
	width: 100%;
	height: 25px;


}

#content{
}

#footer{
}

.menu-elem{
	width: 33%;
	float: left;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.menu-elem a{
	font-size: 16px;
	color: #888483;
	text-decoration: none;
}

.menu-elem a:hover{
	color: #100806;
	font-weight: bold;
}



